---
import Navbar from "../components/globals/Navbar.astro";
import Footer from "../components/globals/Footer.astro";
import Preloader from "../components/globals/Preloader.astro";

import "../styles/globals.css";
import ScrollToTop from "../components/animations/ScrollToTop";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="overflow-x-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/logo-ysim.png" />

    <meta name="generator" content={Astro.generator} />
    <title>{title} - Sawiyan: Bersama Membangun Kebaikan</title>
  </head>
  <body class="bg-brand-background overflow-x-hidden">
    <Preloader />
    <Navbar />

    <main id="main-content" class="transition-all duration-700 ease-in-out">
      <slot />
    </main>

    <ScrollToTop client:load />

    <Footer />
  </body>
</html>
